src/main/resources/templates/proyecto.html
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitectura</title>
    <link href="output.css" rel="stylesheet">
    <script src="/js/script.js" defer></script>
</head>

<body class="bg-white">
    <nav class="bg-yellow-600 fixed w-full flex flex-row p-6 items-center top-0">
        <ul class="flex space-x-4 items-center justify-center">
            <img src="img/icon.png" class="max-w-12">
            <p class="font-black text-2xl text-white">ChesseRun</p>
        </ul>
        <ul class="flex space-x-4 w-full justify-end px-8">
            <li><a href="/equipo" class="font-black text-white hover:text-yellow-300">Equipo</a></li>
            <li><a href="/proyecto" class="font-black text-white hover:text-yellow-300">Proyecto</a></li>
            <li><a href="/requerimientos" class="font-black text-white hover:text-yellow-300">Requerimientos</a></li>
            <li><a href="/arquitectura" class="font-black text-white hover:text-yellow-300">Arquitectura</a></li>
            <li><a href="/desarrollo" class="font-black text-white hover:text-yellow-300">Desarrollo</a></li>
            <li><a href="/pruebas" class="font-black text-white hover:text-yellow-300">Pruebas</a></li>
            <li><a href="/despliegue" class="font-black text-white hover:text-yellow-300">Despliegue</a></li>
        </ul>
        <ul>
            <li><a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded"
                    href="/formulario">Contactanos</a></li>
        </ul>
    </nav>
    <div class="bg-slate-300 py-10 flex items-center justify-center py-28">
        <div class="container mx-auto">
            <h1 class="text-4xl font-bold mb-10">Diagramas de referencia C4</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
                <!-- Card 1 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <h2 class="text-2xl font-bold text-center mb-2">Diagrama de Contexto</h2>
                    <img class="w-full h-96 object-cover" src="../img/ContextTemp.png" alt="Nombre 1">
                </div>

                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <h2 class="text-2xl font-bold text-center mb-2">Diagrama de Contenedores</h2>
                    <img class="w-full h-96 object-cover" src="../img/ContenedoresTemp.png" alt="Nombre 1">
                </div>

                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <h2 class="text-2xl font-bold text-center mb-2">Diagrama de Componentes</h2>
                    <img class="w-full h-96 object-cover" src="../img/ComponentsTemp.png" alt="Nombre 1">
                </div>
            </div>
            <h1 class="text-4xl font-bold mb-10">Modelos</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
                <!-- Card 1 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <h2 class="text-2xl font-bold text-center mb-2">Modelo Entidad/Relación</h2>
                    <img class="w-full h-96 object-cover" src="../img/EntityTemp.jpeg" alt="Nombre 1">
                </div>
            </div>

            <h1 class="text-4xl font-bold mb-10">Otros Diagramas</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
                <!-- Card 1 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden">
                    <h2 class="text-2xl font-bold text-center mb-2">Diagrama de Despliegue</h2>
                    <img class="w-full h-96 object-cover" src="../img/DeployTemp.jpeg" alt="Nombre 1">
                </div>
            </div>
        </div>
    </div>
</body>

</html>