<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo</title>
    <link href="output.css" rel="stylesheet">
    <script src="/js/script.js" defer></script>
</head>

<body class="bg-white">
    <nav class="bg-yellow-600 fixed w-full flex flex-row p-6 items-center top-0 z-50">
        <ul class="flex space-x-4 items-center justify-center">
            <img src="img/icon.png" class="max-w-12">
            <p class="font-black text-2xl text-white">ChesseRun</p>
        </ul>
        <ul class="flex space-x-4 w-full justify-end px-8">
            <li><a th:href="@{/proyecto}" class="font-black text-white hover:text-yellow-300">Proyecto</a></li>
            <li><a th:href="@{/equipo}" class="font-black text-white hover:text-yellow-300">Equipo</a></li>
            <li><a th:href="@{/requerimientos}" class="font-black text-white hover:text-yellow-300">Requerimientos</a>
            </li>
            <li><a th:href="@{/arquitectura}" class="font-black text-white hover:text-yellow-300">Arquitectura</a></li>
            <li><a th:href="@{/desarrollo}" class="font-black text-white hover:text-yellow-300">Desarrollo</a></li>
            <li><a th:href="@{/pruebas}" class="font-black text-white hover:text-yellow-300">Pruebas</a></li>
            <li><a th:href="@{/despliegue}" class="font-black text-white hover:text-yellow-300">Despliegue</a></li>
        </ul>
        <ul>
            <li><a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded"
                    th:href="@{/formulario}">Contactanos</a></li>
        </ul>
    </nav>
    <div class="mt-16 bg-sky-700 flex flex-col items-center justify-center h-screen">
        <h1 class="text-3xl text-white">~D E S A R R O L L O~</h2>
            <p class="text-sm italic text-red-200 mt-2">Conoce sobre el desarrollo de nuestro proyecto</p>
    </div>
    <div class="bg-sky-200 p-4 w-full h-full flex flex-col items-center gap-4">
        <h1 class="text-2xl font-extrabold text-gray-800 mb-4"> Endpoints para el Usuario Arrendatario</h1>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">1. Crear Cuenta de Usuario Arrendatario</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">POST</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendatarios</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendatario crear una cuenta en el sistema.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>nombres (string, requerido)</li>
                                    <li>apellidos (string, requerido)</li>
                                    <li>correo (string, requerido)</li>
                                    <li>teléfono (string, opcional)</li>
                                    <li>contraseña (string, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la creación de la cuenta y un enlace para activar la cuenta.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/createAccIMG2.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>

        <div class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">2. Activar Cuenta de Usuario Arrendatario</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">GET</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendatarios/activar/{token}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Activa la cuenta de un usuario arrendatario mediante un token enviado por correo electrónico.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>token (string, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la activación de la cuenta.</td>
                        </tr>
                    </tbody>
                </table>
                
                
            </div>
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/checkAcc.png}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>
        
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">3. Autenticar Usuario Arrendatario</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">POST</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendatarios/auth</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Autentica a un usuario arrendatario y proporciona un token de acceso</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>correo (string, requerido)</li>
                                    <li>contraseña (string, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Token de acceso y detalles del usuario</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="w-1/2 h-auto">
                <img th:src="@{/img/authAcc2.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>

        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
                <div class="flex flex-col p-6 w-1/2 h-auto">
                    <h3 class="text-2xl font-extrabold text-gray-800 mb-4">4. Buscar Propiedades</h3>
                    <table class="table-auto w-full border border-sky-950">
                        <thead>
                            <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                                <th class="p-4 font-bold">Detalles</th>
                                <th class="p-4 font-bold">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b">
                                <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                                <td class="p-2">GET</td>
                            </tr>
                            <tr class="border-b">
                                <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                                <td class="p-2">/api/propiedades</td>
                            </tr>
                            <tr class="border-b">
                                <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                                <td class="p-2">Permite a un usuario arrendatario buscar propiedades disponibles.</td>
                            </tr>
                            <tr class="border-b">
                                <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                                <td class="p-2">
                                    <ul class="list-inside list-disc pl-5 space-y-2">
                                        <li>nombre (string, opcional)</li>
                                        <li>municipio (string, opcional)</li>
                                        <li>cantidad_personas (int, opcional)</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                                <td class="p-2">Listado de propiedades que coinciden con los criterios de búsqueda.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w-1/2 h-auto">
                    <img th:src="@{/img/searchProp.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
                </div>    
            </div>

        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">5. Solicitar Arrendamiento</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">POST</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendamientos</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendatario solicitar el arrendamiento de una propiedad.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>propiedad_id (int, requerido)</li>
                                    <li>fecha_inicio (date, requerido)</li>
                                    <li>fecha_fin (date, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la solicitud de arrendamiento.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/askProp.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>

        <h1 class="text-2xl font-extrabold text-gray-800 mb-4"> Endpoints para el Usuario Arrendador</h1>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">1. Crear Cuenta de Usuario Arrendador</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">POST</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendadores</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendador crear una cuenta en el sistema.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>nombres (string, requerido)</li>
                                    <li>apellidos (string, requerido)</li>
                                    <li>correo (string, requerido)</li>
                                    <li>teléfono (string, opcional)</li>
                                    <li>contraseña (string, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la creación de la cuenta y un enlace para activar la cuenta.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/createAccIMG2.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">2. Activar Cuenta de Usuario Arrendador</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">GET</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendadores/activar/{token}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Activa la cuenta de un usuario arrendador mediante un token enviado por correo electrónico.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>token (string, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la activación de la cuenta.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/checkAcc.png}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">3. Autenticar Usuario Arrendador</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">POST</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendadores/auth</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Autentica a un usuario arrendador y proporciona un token de acceso.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>correo (string, requerido)</li>
                                    <li>contraseña (string, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Token de acceso y detalles del usuario.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/authAcc2.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">4. Crear Propiedad</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">POST</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/propiedades</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendador crear una nueva propiedad para arrendar.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>nombre (string, requerido)</li>
                                    <li>departamento (string, requerido)</li>
                                    <li>municipio (string, requerido)</li>
                                    <li>tipo_ingreso (string, requerido)</li>
                                    <li>descripción (string, requerido)</li>
                                    <li>cantidad_habitaciones (int, requerido)</li>
                                    <li>cantidad_baños (int, requerido)</li>
                                    <li>permite_mascotas (boolean, requerido)</li>
                                    <li>tiene_piscina (boolean, requerido)</li>
                                    <li>tiene_asador (boolean, requerido)</li>
                                    <li>valor_noche (decimal, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la creación de la propiedad.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/createProp.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">5. Editar Propiedad</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">PUT</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/propiedades/{id}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendador editar una propiedad existente.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>id (int, requerido)</li>
                                    <li>nombre (string, opcional)</li>
                                    <li>departamento (string, opcional)</li>
                                    <li>municipio (string, opcional)</li>
                                    <li>tipo_ingreso (string, opcional)</li>
                                    <li>descripción (string, opcional)</li>
                                    <li>cantidad_habitaciones (int, opcional)</li>
                                    <li>cantidad_baños (int, opcional)</li>
                                    <li>permite_mascotas (boolean, opcional)</li>
                                    <li>tiene_piscina (boolean, opcional)</li>
                                    <li>tiene_asador (boolean, opcional)</li>
                                    <li>valor_noche (decimal, opcional)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la actualización de la propiedad.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/editProp.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">6. Ver Solicitudes de Arrendamiento</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">GET</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendamientos/solicitudes</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendador ver las solicitudes de arrendamiento para sus propiedades.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>estado (string, opcional)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Listado de solicitudes de arrendamiento con su estado correspondiente.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/seeProps.png}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">7. Aceptar Solicitud de Arrendamiento</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">PUT</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendamientos/aceptar/{id}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendador aceptar una solicitud de arrendamiento.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>id (int, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la aceptación de la solicitud de arrendamiento.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/acceptReq.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>

        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">8. Cancelar Solicitud de Arrendamiento</h3>
                <table class="table-auto w-full border border-sky-950">
                    <thead>
                        <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                            <th class="p-4 font-bold">Detalles</th>
                            <th class="p-4 font-bold">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                            <td class="p-2">PUT</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                            <td class="p-2">/api/arrendamientos/cancelar/{id}</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                            <td class="p-2">Permite a un usuario arrendador cancelar una solicitud de arrendamiento.</td>
                        </tr>
                        <tr class="border-b">
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                            <td class="p-2">
                                <ul class="list-inside list-disc pl-5 space-y-2">
                                    <li>id (int, requerido)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                            <td class="p-2">Confirmación de la cancelación de la solicitud de arrendamiento.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/denyReq.jpg}" alt="Imagen relleno 1" class="w-full h-full object-cover">
            </div>
        </div>

        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
    <h3 class="text-2xl font-extrabold text-gray-800 mb-4">9. Calificar Arrendatario</h3>
    <table class="table-auto w-full border border-sky-950">
        <thead>
            <tr class="bg-gradient-to-r from-sky-800 to-sky-950 text-gray-800">
                <th class="p-4 font-bold">Detalles</th>
                <th class="p-4 font-bold">Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="font-bold pr-4 border-r border-sky-950 p-2">Método HTTP:</td>
                <td class="p-2">POST</td>
            </tr>
            <tr class="border-b">
                <td class="font-bold pr-4 border-r border-sky-950 p-2">URL:</td>
                <td class="p-2">/api/calificaciones/arrendatario</td>
            </tr>
            <tr class="border-b">
                <td class="font-bold pr-4 border-r border-sky-950 p-2">Descripción:</td>
                <td class="p-2">Permite a un usuario arrendador calificar a un arrendatario.</td>
            </tr>
            <tr class="border-b">
                <td class="font-bold pr-4 border-r border-sky-950 p-2">Parámetros:</td>
                <td class="p-2">
                    <ul class="list-inside list-disc pl-5 space-y-2">
                        <li>arrendamiento_id (int, requerido)</li>
                        <li>calificación (int, requerido)</li>
                        <li>comentario (string, opcional)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="font-bold pr-4 border-r border-sky-950 p-2">Respuesta:</td>
                <td class="p-2">Confirmación de la calificación del arrendatario.</td>
            </tr>
        </tbody>
    </table>
</div>

            <div class="w-1/2 h-auto">
                <img th:src="@{/img/istockphoto-1460275041-1024x1024.jpg}" alt="Imagen relleno 1"
                    class="w-full h-full object-cover">
            </div>
        </div>
    </div>
</body>

</html>