<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo</title>
    <link href="output.css" rel="stylesheet">
    <script src="/js/script.js" defer></script>
</head>

<body class="bg-white">
    <nav class="bg-yellow-600 fixed w-full flex flex-row p-6 items-center top-0">
        <ul class="flex space-x-4 items-center justify-center">
            <img src="img/icon.png" class="max-w-12">
            <p class="font-black text-2xl text-white">ChesseRun</p>
        </ul>
        <ul class="flex space-x-4 w-full justify-end px-8">
            <li><a href="/proyecto" class="font-black text-white hover:text-yellow-300">Proyecto</a></li>
            <li><a href="/equipo" class="font-black text-white hover:text-yellow-300">Equipo</a></li>
            <li><a href="/requerimientos" class="font-black text-white hover:text-yellow-300">Requerimientos</a></li>
            <li><a href="/arquitectura" class="font-black text-white hover:text-yellow-300">Arquitectura</a></li>
            <li><a href="/desarrollo" class="font-black text-white hover:text-yellow-300">Desarrollo</a></li>
            <li><a href="/pruebas" class="font-black text-white hover:text-yellow-300">Pruebas</a></li>
            <li><a href="/despliegue" class="font-black text-white hover:text-yellow-300">Despliegue</a></li>
        </ul>
        <ul>
            <li><a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded"
                    href="/formulario">Contactanos</a></li>
        </ul>
    </nav>
    <div class="mt-16 bg-sky-700 flex flex-col items-center justify-center h-screen">
        <h1 class="text-3xl text-white">~N U E S T R O&nbsp;&nbsp;&nbsp;E Q U I P O~</h1>
        <p class="text-sm italic text-blue-200">He aquí las mentes detras de este proyecto</p>
    </div>
    <div class="bg-slate-200 py-10 flex items-center justify-center py-28">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center content-between">
                <!-- Card 1 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden w-5/6">
                    <img class="w-full h-72 object-cover " src="../img/FotoAndres.jpeg" alt="Nombre 1">
                    <div class="p-6">
                        <h2 class="text-2xl font-bold mb-2">Lider técnico: Andrés Ruge </h2>
                        <p class="text-gray-700 mb-4">Estudiante de Ingeniería de Sistemas con una sólida formación
                            técnica en una amplia gama de lenguajes de programación y tecnologías. Su experiencia y
                            conocimientos técnicos le permiten liderar la implementación técnica del proyecto,
                            asegurando que las soluciones desarrolladas sean eficientes, robustas y alineadas con los
                            objetivos del proyecto. </p>
                        <p class="text-gray-900 font-bold">Lenguajes:</p>
                        <p class="text-gray-700">C++, Java, HTML, CSS, JavaScript, Python, R </p>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden w-5/6">
                    <img class="w-full h-72 object-cover " src="../img/FotoJuanita.jpeg" alt="Nombre 2">
                    <div class="p-6">
                        <h2 class="text-2xl font-bold mb-2">Lider planeación: Juanita Franco</h2>
                        <p class="text-gray-700 mb-4">Estudiante de Ingeniería de Sistemas con una sólida base técnica
                            en diversos lenguajes de programación y tecnologías web. Aunque su rol principal es la
                            planificación y gestión del proyecto, su conocimiento técnico le permite comprender los
                            aspectos técnicos del desarrollo y asegurar que el proyecto se alinee con los requisitos
                            técnicos y de negocio. </p>
                        <p class="text-gray-900 font-bold">Lenguajes:</p>
                        <p class="text-gray-700">C++, Java, Python, HTML, CSS, JavaScript </p>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden w-5/6">
                    <img class="w-full h-72 object-cover " src="../img/FotoGabriel.jpeg" alt="Nombre 3">
                    <div class="p-6">
                        <h2 class="text-2xl font-bold mb-2">Lider pruebas: Gabriel Espitia</h2>
                        <p class="text-gray-700 mb-4">Estudiante de Ingeniería de Sistemas con una sólida base técnica
                            en diversos lenguajes de programación y tecnologías web. Aunque su rol principal es la
                            planificación y gestión del proyecto, su conocimiento técnico le permite comprender los
                            aspectos técnicos del desarrollo y asegurar que el proyecto se alinee con los requisitos
                            técnicos y de negocio. </p>
                        <p class="text-gray-900 font-bold">Lenguajes:</p>
                        <p class="text-gray-700">Java, C++, JavaScript, TypeScript, Python </p>
                    </div>
                </div>

            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-32 justify-items-center py-20 px-32">
                <!-- Card 4 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden w-full ">
                    <img class="w-full h-72 object-cover" src="../img/FotoNicolas.jpeg" alt="Nombre 4">
                    <div class="p-6">
                        <h2 class="text-2xl font-bold mb-2">Arquitecto: Nicolás Calderón </h2>
                        <p class="text-gray-700 mb-4">Estudiante de Ingeniería de Sistemas con una sólida base en
                            múltiples tecnologías y lenguajes de programación. Aunque está en las etapas finales de su
                            formación académica, su conocimiento técnico abarca una amplia gama de herramientas y
                            lenguajes que lo posicionan como un arquitecto eficaz para proyectos de desarrollo de
                            software. </p>
                        <p class="text-gray-900 font-bold">Lenguajes:</p>
                        <p class="text-gray-700">C++, Java, Kotlin, HTML, CSS, JavaScript, TypeScript </p>
                    </div>
                </div>
                <!-- Card 5 -->
                <div class="bg-white shadow-lg rounded-lg overflow-hidden w-full">
                    <img class="w-full h-72 object-cover" src="../img/FotoCristian.jpeg" alt="Nombre 5">
                    <div class="p-6">
                        <h2 class="text-2xl font-bold mb-2">Desarrollador: Cristian Agualimpia </h2>
                        <p class="text-gray-700 mb-4">Estudiante de Ingeniería Mecatrónica con una sólida formación
                            técnica en una variedad de lenguajes de programación y tecnologías web. Su perfil como
                            desarrollador combina conocimientos en desarrollo de software con una perspectiva técnica
                            integral, gracias a su formación en una disciplina que abarca tanto hardware como software.
                        </p>
                        <p class="text-gray-900 font-bold">Lenguajes:</p>
                        <p class="text-gray-700">Python, Java, HTML, CSS, JavaScript </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>