<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .error {
            border-color: red;
        }

        .error-message {
            color: red;
        }
    </style>
    <script src="script.js"></script>
</head>

<body class="bg-white">
    <nav class="bg-yellow-600 fixed w-full flex flex-row p-4 items-center top-0">
        <div class="flex items-center space-x-4">
            <img src="img/icon.png" class="w-12 h-12">
            <p class="font-black text-2xl text-white">ChesseRun</p>
        </div>
        <ul class="flex space-x-4 w-full justify-end px-8">
            <li><a href="/proyecto" class="font-black text-white hover:text-yellow-300">Proyecto</a></li>
            <li><a href="/equipo" class="font-black text-white hover:text-yellow-300">Equipo</a></li>
            <li><a href="/requerimientos" class="font-black text-white hover:text-yellow-300">Requerimientos</a></li>
            <li><a href="/arquitectura" class="font-black text-white hover:text-yellow-300">Arquitectura</a></li>
            <li><a href="/desarrollo" class="font-black text-white hover:text-yellow-300">Desarrollo</a></li>
            <li><a href="/pruebas" class="font-black text-white hover:text-yellow-300">Pruebas</a></li>
            <li><a href="/despliegue" class="font-black text-white hover:text-yellow-300">Despliegue</a></li>
            <li><a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded"
                    href="/formulario">Contáctanos</a></li>
        </ul>
    </nav>

    <div class="mt-16 bg-rose-400 flex flex-col items-center justify-center h-screen">
        <h1 class="text-3xl text-white">~F O R M U L A R I O~</h2>
        <p class="text-sm italic text-red-200 mt-2">Registrate ahoraaa</p>
    </div>

    <div class="mt-24">
        <h1 class="h-48 flex items-center justify-center text-5xl font-extrabold">Formulario de Contacto</h1>
        <div class="flex items-center justify-center bg-slate-100 p-6 rounded-lg shadow-md">
            <section class="mb-20 py-6 w-full max-w-lg">
                <form th:action="@{/formulario}" th:object="${contact}" method="post" class="space-y-4">
                    <div>
                        <label for="nombres" class="block text-gray-700">Nombres:</label>
                        <input type="text" id="nombres" th:field="*{nombres}" maxlength="100"
                            oninput="updateCharacterCount(this, 100)"
                            class="w-full border border-gray-300 rounded p-2">
                        <span id="nombres-char-count" class="text-sm text-gray-500">0/100</span>
                        <span th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"
                            class="text-sm text-red-500"></span>
                    </div>

                    <div>
                        <label for="apellidos" class="block text-gray-700">Apellidos:</label>
                        <input type="text" id="apellidos" th:field="*{apellidos}" maxlength="100"
                            oninput="updateCharacterCount(this, 100)"
                            class="w-full border border-gray-300 rounded p-2">
                        <span id="apellidos-char-count" class="text-sm text-gray-500">0/100</span>
                        <span th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"
                            class="text-sm text-red-500"></span>
                    </div>

                    <div>
                        <label for="correo" class="block text-gray-700">Correo:</label>
                        <input type="text" id="correo" th:field="*{correo}" maxlength="100"
                            oninput="validateEmail(this); updateCharacterCount(this, 100)"
                            class="w-full border border-gray-300 rounded p-2">
                        <span id="correo-char-count" class="text-sm text-gray-500">0/100</span>
                        <span id="correo-error" class="error-message text-sm text-red-500"></span>
                        <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"
                            class="text-sm text-red-500"></span>
                    </div>

                    <div>
                        <label for="semestre" class="block text-gray-700">Semestre:</label>
                        <input type="number" id="semestre" th:field="*{semestre}"
                            class="w-full border border-gray-300 rounded p-2">
                        <span th:if="${#fields.hasErrors('semestre')}" th:errors="*{semestre}"
                            class="text-sm text-red-500"></span>
                    </div>

                    <div>
                        <label for="descripcion" class="block text-gray-700">Descripción:</label>
                        <textarea id="descripcion" th:field="*{descripcion}"
                            class="w-full border border-gray-300 rounded p-2"></textarea>
                        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"
                            class="text-sm text-red-500"></span>
                    </div>

                    <div class="flex justify-center">
                        <button type="submit"
                            class="bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
                            Enviar
                        </button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>

</html>
