<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requerimientos</title>
    <link href="output.css" rel="stylesheet">
    <script src="/js/script.js" defer></script>
</head>

<body class="bg-white">
    <nav class="bg-yellow-600 fixed w-full flex flex-row p-6 items-center top-0 z-50">
        <ul class="flex space-x-4 items-center justify-center">
            <img src="img/icon.png" class="max-w-12">
            <p class="font-black text-2xl text-white">ChesseRun</p>
        </ul>
        <ul class="flex space-x-4 w-full justify-end px-8">
            <li><a th:href="@{/proyecto}" class="font-black text-white hover:text-yellow-300">Proyecto</a></li>
            <li><a th:href="@{/equipo}" class="font-black text-white hover:text-yellow-300">Equipo</a></li>
            <li><a th:href="@{/requerimientos}" class="font-black text-white hover:text-yellow-300">Requerimientos</a>
            </li>
            <li><a th:href="@{/arquitectura}" class="font-black text-white hover:text-yellow-300">Arquitectura</a></li>
            <li><a th:href="@{/desarrollo}" class="font-black text-white hover:text-yellow-300">Desarrollo</a></li>
            <li><a th:href="@{/pruebas}" class="font-black text-white hover:text-yellow-300">Pruebas</a></li>
            <li><a th:href="@{/despliegue}" class="font-black text-white hover:text-yellow-300">Despliegue</a></li>
        </ul>
        <ul>
            <li><a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded"
                    th:href="@{/formulario}">Contactanos</a></li>
        </ul>
    </nav>

    <div class="mt-16 bg-sky-700 flex flex-col items-center justify-center h-screen">
        <h1 class="text-3xl text-white">~R E Q U E R I M I E N T O S~</h2>
            <p class="text-sm italic text-red-200 mt-2">Conoce cuales son los requerimientos funcionales y no
                funcionales de nuestro proyecto</p>
    </div>
    <div class="bg-slate-200 p-4 w-full h-full flex flex-col items-center gap-4">
        <!-- LISTA DE REQUERIMIENTOS FUNCIONALES-->
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">Funcionales</h3>
                <p class="font-semibold">El sistema debe permitir que los usuarios arrendadores:</p>
                <ul class="mt-6 list-inside list-disc pl-5 space-y-4">
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Activen su cuenta mediante un enlace enviado por correo.
                            </div>
                        </div>
                    </li>
                    
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Autentiquen su cuenta.
                            </div>
                        </div>
                    </li>
                    
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Vean sus propiedades disponibles para arrendamiento.
                            </div>
                        </div>
                    </li>

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Creen propiedades.
                            </div>
                        </div>
                    </li>

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Editen sus propiedades.
                            </div>
                        </div>
                    </li>
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Suban fotos de sus propiedades.
                            </div>
                        </div>
                    </li>
                    
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Desactiven propiedades.
                            </div>
                        </div>
                    </li>
                    
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Vean las solicitudes de arriendo.
                            </div>
                        </div>
                    </li>

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Acepten solicitudes de arriendo.
                            </div>
                        </div>
                    </li>
                    
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Rechacen solicitudes de arriendo.
                            </div>
                        </div>
                    </li>
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                Califiquen a los arrendatarios.
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>

            <!-- FOTICO RELLENO 1-->
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/istockphoto-1460275041-1024x1024.jpg}" alt="Imagen relleno 1"
                    class="w-full h-full object-cover">
            </div>
        </div>


        <!-- //////// LISTA DE REQUERIMIENTOS noooooo FUNCIONALES-->
        <div
            class="bg-gradient-to-r from-sky-300 to-sky-600 relative w-full max-w-4xl h-auto flex rounded-xl shadow-lg overflow-hidden">
            <div class="flex flex-col p-6 w-1/2 h-auto">
                <h3 class="text-2xl font-extrabold text-gray-800 mb-4">No funcionales</h3>
                <p class="font-semibold">Se debe operar teniendo en cuenta que:</p>
                <ul class="mt-6 list-inside list-disc pl-5 space-y-4">
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                El sistema debe poder ser visto y utilizado desde cualquier navegador, incluyendo Chrome,
                                Safari, Edge y Firefox.
                            </div>
                        </div>
                    </li>

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                El sistema debe manejar hasta xxx usuarios simultáneos sin degradación del rendimiento.
                            </div>
                        </div>
                    </li>
                    <!-- //////// PRUEBAAAAAAA ICONOOO-->
                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" 
                                     stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                La interfaz de usuario debe ser intuitiva y fácil de usar para cualquier usuario.
                            </div>
                        </div>
                    </li>
                    

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                El sistema debe proporcionar mensajes de error claros y específicos cuando se ingresen datos incorrectos en los formularios.
                            </div>
                        </div>
                    </li>

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                El sistema debe estar disponible el 90% del tiempo.
                            </div>
                        </div>
                    </li>

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                El sistema debe ser compatible con las versiones actuales de navegadores como Chrome, Safari,
                        Edge y Firefox.
                            </div>
                        </div>
                    </li>

                    <li class="transition-transform transform hover:scale-105 duration-300 flex items-center gap-2">
                        <div class="flex w-full">
                            <!-- Contenedor del ícono SVG con 1/6 del ancho total -->
                            <div class="w-1/6 flex justify-center items-center pr-8">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                                </svg>
                            </div>
                            <!-- Contenedor del texto con 5/6 del ancho total -->
                            <div class="w-5/6 pl-2">
                                El sistema debe cifrar las contraseñas almacenadas.
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

            <!-- FOTICO RELLENO 1-->
            <div class="w-1/2 h-auto">
                <img th:src="@{/img/istockphoto-1488294044-1024x1024.jpg}" alt="Imagen relleno 1"
                    class="w-full h-full object-cover">
            </div>
        </div>
    </div>
</body>

</html>